In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\aniket\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: regex in c:\users\aniket\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: tqdm in c:\users\aniket\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: click in c:\users\aniket\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\aniket\anaconda3\lib\site-packages (from nltk) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [21]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ANIKET\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [5]:
import pandas as pd

In [6]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [7]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [8]:
display(fake.head())
display(genuine.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [9]:
display(fake.subject.value_counts())
print('\\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

\n

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [10]:
fake['target'] = 0
genuine['target'] = 1

In [11]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [12]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [13]:
data = pd.concat([fake, genuine], axis=0)

In [14]:
data = data.reset_index(drop=True)

In [15]:
data=data.drop(['subject','date','title'], axis=1)

In [16]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

In [19]:
from nltk.tokenize import word_tokenize

In [22]:
data['text']=data['text'].apply(word_tokenize)

In [23]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [25]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [26]:
def stem_it(text):
     return [porter.stem(word) for word in text]

In [27]:
data['text']=data['text'].apply(stem_it)

In [28]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [30]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [31]:
data['text']=data['text'].apply(stop_it)

In [32]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [33]:
data['text']=data['text'].apply(' '.join)

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(X_train.head())
print('\\n')
display(y_train.head())

10566    cnn anchor don lemon got snarki dure report re...
33776    washington reuter suprem court nomine merrick ...
7446     hacktivist group anonym has now commenc their ...
23667    washington reuter senat kirsten gillibrand fir...
539      donald trump horrif defens white supremaci aft...
Name: text, dtype: object

\n

10566    0
33776    1
7446     0
23667    1
539      0
Name: target, dtype: int64

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [36]:
print(tfidf_train)

  (0, 21998)	0.05299516617278159
  (0, 24977)	0.1471116966657789
  (0, 54427)	0.13802849116347174
  (0, 81417)	0.04356520552210517
  (0, 39763)	0.05975774107044602
  (0, 52968)	0.08489065613610301
  (0, 81584)	0.03183736437175566
  (0, 57723)	0.11381624558573544
  (0, 50397)	0.05285851964931255
  (0, 72174)	0.058238513567514284
  (0, 77921)	0.07513159477072516
  (0, 79248)	0.04341585107554304
  (0, 45870)	0.06010734614470095
  (0, 89264)	0.06681008599883903
  (0, 51885)	0.0979729757738972
  (0, 81501)	0.07724245229661578
  (0, 29837)	0.0748093164867299
  (0, 8057)	0.08217401919006122
  (0, 77834)	0.03379453210591891
  (0, 7331)	0.032752863414179954
  (0, 72674)	0.035718344061351305
  (0, 26686)	0.05761138160363416
  (0, 11204)	0.049207672544747415
  (0, 81443)	0.05021657039636316
  (0, 68406)	0.06066962062541481
  :	:
  (33672, 89088)	0.04779021784140577
  (33672, 68662)	0.055017552756129
  (33672, 13551)	0.027378485280619466
  (33672, 37936)	0.17736111050137277
  (33672, 69832)	0.027544323735603362
  (33672, 81584)	0.025835926562313434
  (33672, 89264)	0.027108093109289393
  (33672, 77834)	0.027424162361594288
  (33672, 7331)	0.05315770262848378
  (33672, 72674)	0.02898533004557337
  (33672, 69727)	0.05396933414024252
  (33672, 64828)	0.05776596352049626
  (33672, 88888)	0.03062913418145861
  (33672, 83540)	0.24428231005325265
  (33672, 26834)	0.03007708321939385
  (33672, 39228)	0.02432511657025358
  (33672, 51624)	0.10058792778646862
  (33672, 59500)	0.035054886399364174
  (33672, 28659)	0.10683374448522767
  (33672, 88700)	0.052206390640140085
  (33672, 20342)	0.09352913013926482
  (33672, 51284)	0.03849439627313361
  (33672, 89337)	0.09993026783146969
  (33672, 69517)	0.03498903438246194
  (33672, 27752)	0.03798214712144941

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [38]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

98.94877505567928

In [39]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [40]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.69710467706014